.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a{
  background-color: #04838f;
  color: #ffffffff;
  border-radius: 6px;
  height:61px;
  font-weight: 500;
  padding: 0 2rem;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px #04838f33;
  width: fit-content;
  text-decoration: none;
  margin-bottom: 22px;
  font-size: 20px;
}
